<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2015</p>
              <div class="h5">Masters Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Computer Science</div>
               <h4 class="category">The University of Texas at Dallas
               </h4>
               <ul>
                <li>Graduated MS in Computer Science with <b>3.33 GPA</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2012</p>
              <div class="h5">BE Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Computer Science and Engineering</div>
               <h4 class="category">Visvesvaraya Technological University
               </h4>
               <ul>
                <li>Graduated BE in Computer Science and Engineering with <b>8.47 CGPA</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>