<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Highlights</div>
                        <ul>
                            <li>Experience of working in <b>Agile</b> environment with <b>Continuous Integration and Continuous Deployment (CICD)</b> approach.</li>
                            <li>Almost 4 years of experience in Full stack development of <b>Point of Sale (POS)</b> web application and Commercial Leasing product.</li>
                            <li>Used tools for build configuration, resource management and bug tracking.</li>
                            <li>Experience of task management through <b>TFS, Jazz & Clear Case</b>.</li>
                            <li>Scoping of development & test estimation, planning, tracking, execution and final delivery.</li>
                            <li>Almost 4 years of experience in Banking product development in <b>JAVA, Angular & recently Kotlin, Kubernetes & Docker</b></li>
                        </ul>
                        <div class="h4 mt-0 title">Technologies</div>
                        <ul>
                            <li>Spring, MVC, Hibernate, REST API, JAX_RS, JAX-WS, MyBatis, JSON, TDD</li>
                        </ul>
                        <div class="h4 mt-0 title">Operating Systems</div>
                        <ul>
                            <li>Windows, MAC OS, Linux, Android</li>
                        </ul>
                        <div class="h4 mt-0 title">Tools</div>
                        <ul>
                            <li>IntelliJ, Eclipse, LiquidOffice, Visual Studio, VS Code</li>
                            <li>Jenkins, TOAD, Fortify, ADT, Jazz, Clear Case, TFS, GIT, Code Mover, OpenText</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>